html {
	//overflow-x: hidden;
}
body {
	font-family: $font-primary;
	background: $white;
	font-size: 14px;
	line-height: 1.8;
	font-weight: 300;
	color: lighten($black,50%);
	&.menu-show {
		overflow: hidden;
		position: fixed;
		height: 100%;
		width: 100%;
	}
}

span{
	color: lighten($black,75%);
}
a {
	transition: .3s all ease;
	color: $primary;
	&:hover {
		text-decoration: none;
		color: $primary;
	}
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.4;
	color: $black;
	font-weight: 400;
}

button {
	outline: none;
	&:focus {
		outline: none !important;
	}
}

.ftco-section {
	padding: 7em 0;
	position: relative;
	@include media-breakpoint-down(sm){
		padding: 6em 0;
	}
	.ftco-sub-title {
		font-size: 16px;
		text-transform: uppercase;
		letter-spacing: .5em;
		color: lighten(#ccc, 3%);
		font-family: $font-family-sans-serif;
		font-weight: 300;
	}
	.ftco-primary-title {
		margin-top: 0;
		margin-bottom: 30px;
	}
}

