.text-primary {
	color: $primary!important;
}

.heading-section{
	.subheading{
		font-size: 14px;
		display: block;
		margin-bottom: 10px;
	}
	h2{
		font-size: 24px;
		font-weight: 400;
		text-transform: uppercase;
		@include media-breakpoint-down(sm){
			font-size: 28px;
		}
	}
	&.heading-section-white{
		.subheading{
			color: rgba(255,255,255,.9);
		}
		h2{
			font-size: 20px;
			color: $white;
		}
		p{
			color: rgba(255,255,255,.9);
		}
	}
}